body {
    font-family: 'Slabo 27px', serif;
}

h1 {
    color: #7528c1;
    font-size: 30px;
    margin-top: 20px;
}

#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
}

.navbar-brand {
    margin-left: 0px;
    font-size: 24px;
}

.nav-link {
    font-size: 24px;
    margin-left: 50px;
}

#index-background {
    background-size: cover;
    background-position: 0% 100%;
    min-height: 100%;
    background-image: url(../img/coors_night.jpg);
}

#index-jumbo {
    text-align: center;
    color: #7528c1 !important;
    width: 50%;
    height: 270px;
    color: blue;
    padding-top: 30px;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.6); !important;
    /*opacity: 0.75;*/
    background-size: 10%;
    z-index: 1;
}



.opac1-text {
    opacity: 1;
    z-index: 10;
}

#jumbotron-button {
    margin-top: 20px;
    color: #7528c1;
    background-color: black;
}


.bottom-img {
    /*z-index: 1;*/
    opacity: 0;
}

#results-text {
    color: #7528c1;
}

.pudding-title {
    margin-top: -10vh;
    font-size: 80px;
}

.pudding-subtitle {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
}

#glove {
    float: left;
    margin-top: -5vh;
    width: 20%;
    width: 30vmin;
}

#drag-ball {
    float: center;
    width: 20vmin;
    z-index: 10;
}

#bat {
    width: 30vmin;
    -ms-transform: rotate(300deg); /* IE 9 */
    -webkit-transform: rotate(300deg); /* Chrome, Safari, Opera */
    transform: rotate(300deg);
    float: right;
}

#drag-instructions {
    margin-top: 10vh;
    color: red;
}

.pudding-author {
    font-size: 16px;
    margin-top: 5vh;
}

.pudding-content {
    font-size: 20px;
}

.pudding-paragraph {
    margin-bottom: 25px;
}

.large-text {
    font-size: 40px;
}

.eigen-pics {

    width: 15%;
    display: inline-block;
}

#submit-form {
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 3%;
    border-style: solid;
    border-width: medium;
    padding: 20px;
    width: 50%;
    background-color: #DFDDE0 !important;
}

.black-top {
    margin-top: -20px;
    padding-top: 100px;
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

.pudding-chart.center {
    display: inline-block;;
    margin: 0 auto;
}

#svg-trend {
    margin-bottom: 10px;
    margin-left: 10px;
}

#scout-gif {
    margin-top: 40px;
    margin-bottom: 60px;
}

#dismiss {
    margin-top: -40px;
    margin-bottom: 20px;
    color: red;
    font-size: 12px;
}

#file-size {
    margin-top: 10px;
    margin-bottom: -17px;
    color: red;
    font-size: 12px;
}

#loadingDiv {
    margin-top: 20px;
    margin-bottom: 20px;
}

#hidden-pic {
    margin-bottom: 30px;
}



@media screen and (max-width: 700px) {
    p {
        font-size: 20px;
    }
    
}

@media screen and (min-width: 0px) {
    #hidden-size {
        width: 200;
    }
    
    p {
        font-size: 20px;
    }
    
    .pudding-title {
        font-size: 80px;
    }
    .pudding-subtitle {
        font-size: 20px;
    }
    #drag-instructions {
        font-size: 15px;
    }
    
    
    
}

@media screen and (min-width: 550px) {
    #hidden-size {
        width: 200;
    }
    
    p {
        font-size: 20px;
    }
    
    .pudding-title {
        font-size: 130px;
    }
    .pudding-subtitle {
        font-size: 30px;
    }
    
    #drag-instructions {
        font-size: 20px;
    }
    
}

@media screen and (min-width: 768px) {
    #hidden-size {
        width: 200;
    }
    p {
        font-size: 20px;
    }
    
}

@media screen and (min-width: 986px) {
    #hidden-size {
        width: 200;
    }
    
}

@media screen and (min-width: 1100px) {
    #hidden-size {
        width: 300;
    }
    
}

@media screen and (min-width: 1200px) {
    #hidden-size {
        width: 350;
    }
    
}




