h1 {
    color: blue;
    font-size: 30px;
}

.navbar-brand {
    margin-left: 0px;
    font-size: 24px;
}

.nav-link {
    font-size: 24px;
    margin-left: 50px;
}

#index-background {
    background-size: cover;
    background-position: 0% 100%;
    min-height: 100%;
    background-image: url(../img/coors_night.jpg);
}

#index-jumbo {
    text-align: center;
    color: #7528c1 !important;
    width: 50%;
    height: 50%;
    color: blue;
    padding-top: 30px;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.6); !important;
    /*opacity: 0.75;*/
    background-size: 10%;
    z-index: 1;
}



.opac1-text {
    opacity: 1;
    z-index: 10;
}

#jumbotron-button {
    color: #7528c1;
    background-color: black;
}


.bottom-img {
    /*z-index: 1;*/
    opacity: 0;
}

#results-text {
    color: #7528c1;
}

.pudding-title {
    font-size: 80px;
    margin-bottom: 20px;
}

.pudding-subtitle {
    font-size: 20px;
    margin-bottom: 40px;
}

.pudding-author {
    font-size: 16px;
    margin-bottom: 30px;
}

.pudding-content {
    font-size: 16px;
}

.pudding-paragraph {
    margin-bottom: 25px;
}

.large-text {
    font-size: 40px;
}

.eigen-pics {

    width: 15%;
    display: inline-block;
}
